/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width:870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;

}
/* -----------------
Heading section styles 
--------------------*/
.wrapper{
    background-color: turquoise;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo{
    float: left;
    margin-left: 80px;
}
.logo h2{
    color: #562EFF;
}
.menu-button{
    background-color:#562EFF;
    color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
    cursor:pointer;
    border: 1px solid  #278be9;
}
.right-menu{
    position: relative;
    margin-right: 80px;

}
.dropdown-menu{
    display: none;
    position:absolute;
    background-color: #f9F9F9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;

}
.dropdown-menu a{
    color: black ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover{
    background-color: #7e51f0;
    color: aqua;
}
.right-menu:hover .dropdown-menu{
    display: block;
}
.right-menu:hover .menu-button{
    background-color: transparent;
}


/* top players style  */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;

}
.player{
    display: flex;
    align-items: center;
}

.player img{
Width: 56px;
Height: 56px;
Top: 239px;
Left: 315px;
}
.player-name{
margin-left: 16px;
font-size: 18px;
}
.player h3{
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top Blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}

.blog .thumbnail img{
width: 177px;
height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;

}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;

}


/* Courses Styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:24px;
}

  .course .course-banner img{
      width: 224px;
      height: 104px;
      left: 324px;
top: 913px;
    
  }
  .course-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .fa-star{
      font-size: 12px;
  }
  .fa-star.filled{
    color: #FFC014;
  }
  .fa-star.empty{
    color: #AEAEAE;
  }

  /* Media Queries */

  /* Mobile devices */
  @media only screen and (max-width:688px) {
      .container{
          width: 100%;
          justify-content: center;
      }
      .players, .blogs,.courses{
          
          grid-template-columns: repeat(1,1fr); 
      }
      .player, .blogs,.courses{
          flex-direction: column;
      }
      
  }
/* tablet devices */

  @media only screen and (min-width:688px)and (max-width:992px) {
    .container{
        width: 100%;
        justify-content: center;
    }
    .players, .courses{
        
        grid-template-columns: repeat(2,1fr); 
    }
    .blogs{
        
        grid-template-columns: repeat(1,1fr); 
    }
    .player, .blogs,.courses{
        flex-direction: column;
    }
    
}
